.CoinCard:hover .logo {
  bottom: 10px;
  transition: all 0.3s ease; }

.trends {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.logo {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  bottom: 0;
  transition: all 0.3s ease; }
  .logo.BTC {
    background-image: url("../../logos/BTC.svg"); }
  .logo.ETH {
    background-image: url("../../logos/ETH.svg"); }
  .logo.XRP {
    background-image: url("../../logos/XRP.svg"); }
  .logo.BCH {
    background-image: url("../../logos/BCH.svg"); }
  .logo.ADA {
    background-image: url("../../logos/ADA.svg"); }
  .logo.LTC {
    background-image: url("../../logos/LTC.svg"); }
  .logo.XEM {
    background-image: url("../../logos/XEM.svg"); }
  .logo.XLM {
    background-image: url("../../logos/STR.svg"); }
  .logo.MIOTA {
    background-image: url("../../logos/MIOTA.svg"); }
  .logo.DASH {
    background-image: url("../../logos/DASH.svg"); }
  .logo.NEO {
    background-image: url("../../logos/NEO.svg");
  }
  .logo.XMR {
    background-image: url("../../logos/XMR.svg");
  }
  .logo.EOS {
    background-image: url("../../logos/EOS.svg");
  }
